#hmfooter {
	font-size: x-small;
	text-align: center;
}
.vrcadmincaltable td {
	background:#f9f9f9;
	font-size:11px;
	width:26px;
	height:15px;
}
.vrcadmincaltable .busy {
	background:#8AA9CA;
}
.vrcadmincaltable .busy a {
	font-weight:bold;
	color:#fff;
}
.vrcadmincaltrmon td {
	background:#346983;
	color:#fff;
	font-weight:bold;
	padding:4px 0;
}
.vrcadmincaltrmdays td {
	background:#CCCCCC;
	text-align:center;
}
.vrcorderof {
	padding:10px 0;
	font-size:14px;
}
.vrcorderof a {
	font-size:12px;
}
.vrcorderpar {
	margin:10px 0 5px 0;
	padding:0;
	font-weight:bold;
	font-size:13px;
}
.vrcordersp {
	font-weight:bold;
	margin-left: 0 !important;
	margin-top: 5px;
	min-height: inherit !important;
}
.vrcorderpartot {
	padding:5px 10px;
	margin:10px 5px;
	background:#efefef;
	border:1px solid #ccc;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-weight:bold;
}
.vrcorderseatasconf {
	background:#348741;
	border:1px solid #235A2C;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:5px 4px 10px 0;
	width:auto;
	display:inline-block;
	padding:10px;
}
.vrcorderseatasconf a {
	color:#fff !important;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
.successmade {
	margin: 10px 0px;
	padding: 12px 12px 12px 40px;
	color: #4F8A10;
	background:url("./resources/images/ok.png") no-repeat scroll 10px center #DFF2BF;
}

.err {
	margin: 10px 0px;
	padding: 12px 12px 12px 40px;
	color: #D8000C;
	background:url("./resources/images/no.png") no-repeat scroll 10px center #FFBABA;
}

.warn {
	margin: 10px 0px;
	padding: 12px 12px 12px 40px;
	color: #9F6000;
	background: url("./resources/images/warning.png") no-repeat scroll 10px center #FEEFB3;
}

.maxthirty{
	cursor: pointer;	
	max-height: 30px;
	height: expression(this.height > 30 ? "30px" : true);
	max-width: 30px;
	width: expression(this.width > 30 ? "30px" : true);

}

.maxfifty{
	max-height: 50px;
	height: expression(this.height > 50 ? "50px" : true);
}

.maxninety{
	max-height: 190px;
	height: expression(this.height > 190 ? "190px" : true);
}

.imgresult{
	max-height: 85px;
	height: expression(this.height > 85 ? "85px" : true);
	max-width: 130px;
	width: expression(this.width > 130 ? "130px" : true);
}

.vmain{
	background-image: url('./resources/images/tab.png');
	background-position: center left;
	background-repeat: no-repeat;
	height: 40px;
	width: 160px;
	font-weight: bold;
	font-size:14px;
	color: #fff !important;
}

.vmenulink a {
	color:#333 !important;
	display: block;
}

.vmenulinkactive{
	background-image: url('./resources/images/vmenulink_active.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.vmenulinkactive a {
	display: block;
	color:#fff !important;
}
.vrcsubmitfares {
	background: none repeat scroll 0 0 #708827 !important;
    border: 1px solid #5D7120 !important;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 5px;
	margin:10px 0 0 0;
}
.vrcsubmithfares {
	background: none repeat scroll 0 0 #0B9E9E !important;
    border: 1px solid #007171 !important;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 5px;
	margin:10px 0 0 0;
}

.vrcsubmithcharges {
	background: none repeat scroll 0 0 #386B16 !important;
	border: 1px solid #2D5511 !important;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF !important;
	font-size: 14px;
	padding: 5px;
	margin:10px 0 0 0;
	cursor:pointer;
}

.free{
	color: #000000;
}

.busy{
	color: #000000;
	background: #FF0000;
}

.notbusy{
	color: #000000;
	background: #77c06c;
}
.bluedays{
	background: #8AA9CA;
	min-width: 2.7%;
}
.icon-48-vikrentcar {
	background: url('./icon-48-vikrentcar.png') no-repeat;
}

td.carname {
	background: #d3dae1;
}

.dailyprices {
	background-image: url('./resources/images/daily_tab.png');
	background-repeat: no-repeat;
	text-align: center;
	float: left;
	font-weight: bold;
	width: 153px;
	height: 34px;
	font-size:11px;
	line-height:34px;
	text-transform:uppercase;
	color:#5d7120;
}
.dailypricesactive {
	text-align: center;
	float: left;
	font-weight: bold;
	width: 153px;
	height: 34px;
	font-size:11px;
	line-height:34px;
	text-transform:uppercase;
	color:#5d7120;
}
.dailyprices:hover, .dailypricesactive {
	background: url('./resources/images/daily_tab_on.png') no-repeat;
}
.dailyprices a {
	color:#5d7120 !important;
}
.dailyprices a:hover {
	text-decoration:none !important;
}
.hourlyprices {
	background-image: url('./resources/images/hourly_tab.png');
	background-repeat: no-repeat;
	text-align: center;
	float: left;
	font-weight: bold;
	color: #007171;
	width: 154px;
	height: 34px;
	font-size:11px;
	line-height:34px;
	text-transform:uppercase;
}
.hourlypricesactive {
	text-align: center;
	float: left;
	font-weight: bold;
	color: #007171;
	width: 154px;
	height: 34px;
	font-size:11px;
	line-height:34px;
	text-transform:uppercase;
}
.hourlyprices:hover, .hourlypricesactive {
	background: url('./resources/images/hourly_tab_on.png') no-repeat;
}
.hourlyprices a {
	color: #007171 !important;
}
.hourlyprices a:hover {
	text-decoration:none !important;
}
.hourscharges {
	background-image: url('./resources/images/hourscharges_tab.png');
	background-repeat: no-repeat;
	text-align: center;
	float: left;
	font-weight: bold;
	color: #5D7120;
	width: 154px;
	height: 34px;
	font-size:11px;
	line-height:34px;
	text-transform:uppercase;
}
.hourschargesactive {
	text-align: center;
	float: left;
	font-weight: bold;
	color: #5D7120;
	width: 154px;
	height: 34px;
	font-size:11px;
	line-height:34px;
	text-transform:uppercase;
}
.hourscharges:hover, .hourschargesactive {
	background: url('./resources/images/hourscharges_tab_on.png') no-repeat;
}
.hourscharges a {
	color: #5D7120 !important;
}
.hourscharges a:hover {
	text-decoration:none !important;
}
.vrcadminfaresctitle {
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 10px;
    text-transform: uppercase;
}

.vrcdashparag {
	font-size:12px;
}
.vrcdashparagred {
	font-weight: bold;
	color: #ff0000;
}
.vrcdashspanright {
	float: right;
	padding:0 0 20px 0;
	font-size:12px;
}
.vrcdashspanright form {
	padding:0 0 0 3px;
	display:inline;
}
.vrcdashdivleft {
	float:left;
	border:1px solid #ddd;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#fff;
	padding:20px;
	box-shadow:0 0 2px #ddd;
	-moz-box-shadow:0 0 2px #ddd;
	-webkit-box-shadow:0 0 2px #ddd;
	margin:15px 30px 15px 0;
	width:55%;
}
.vrcdashdivleft .vrcdashdivlefthead {
	margin:0 0 10px 0;
	padding:0;
	text-transform:uppercase;
	font-size:14px;
	color:#0A5A24;
}
.vrcdashdivleft .vrcdashtable {
	width:100%;
}
.vrcdashdivleft .vrcdashtable td, .vrcdashdivright .vrcdashtable td {
	padding:3px 0;
}
.vrcdashdivleft .vrcdashtable td a, .vrcdashdivright .vrcdashtable a {
	font-size:12px;
	color:#016799;
}
.vrcdashdivright {
	float:right;
	border:1px solid #ddd;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#fff;
	padding:20px;
	box-shadow:0 0 2px #ddd;
	-moz-box-shadow:0 0 2px #ddd;
	-webkit-box-shadow:0 0 2px #ddd;
	margin:15px 0 15px 0;
	width:30%;
}
.vrcdashdivright .vrcdashdivrighthead {
	color: #22485d;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 10px;
	padding: 0;
	text-transform: uppercase;
}
.vrcdashdivright .vrcdashtable {
	width:100%;
}
.vrcdashdivright .vrcdashtable .vrcdashtrlastres td, .vrcdashdivleft .vrcdashtable .vrcdashtrlastres td {
	font-size:12px;
	font-weight:bold;
	color:#000;
	text-transform:uppercase;
	padding:0 0 5px 0;
}
.vrcdashdivleft .vrcdashtable .vrcdashtrlastres td:first-child {
	padding:0 5px;
}
.vrcspandateadd {
	padding: 5px;
	color: #000000;
	cursor: pointer;
	border:1px solid #ddd;
	background:#f0f0ee;
	float: none !important;
	display: inline-block !important;
	width: auto !important;
	margin:0 0 5px 0 !important;
}
.vrcdownloadpdf {
	font-weight: bold;
	background-image: url("./resources/images/pdf_icon.gif");
	background-repeat:no-repeat;
	background-position: left center;
	padding-left: 18px;
	margin-left: 0px !important;
}
.vrcpdfcheckin {
	font-weight: bold;
	background-image: url("./resources/images/pdf_icon.gif");
	background-repeat:no-repeat;
	background-position: left center;
	padding-left: 18px;
	margin-left: 0px !important;
	color: #fff !important;
	text-transform: none;
}
.vrcoverviewtable {
	width: 100%;
	border: 1px solid #cccccc;
}
.vrcoverviewtablerow {
	height: 30px;
}
.vrcoverviewtdone {
	min-width: 130px !important;
}
.vrc-select-all {
	display: block;
	width: 180px;
	margin: 0 0 5px 0;
	padding: 3px 2px 3px 2px;
	color: #000000;
	background:#f0f0ee;
	border-radius: 2px;
	cursor: pointer;
	text-align: center;
}
.promotr {
	display: none;
}
#promovalidity {
	display: inline-block;
	padding-left: 5px;
}
p.vrccarparamp label {
	display: inline !important;
	padding-right: 8px;
}
p.vrccarparamp span {
	display: inline-block;
	font-size: smaller;
	font-style: italic;
	max-width: 300px;
	padding-left: 8px;
}
.vrc-customer-checkin {
	float: right;
	background: none repeat scroll 0 0 #348741;
	border: 0 none;
	border-radius: 5px;
	color: #FFFFFF !important;
	display: inline-block;
	font-weight: bold;
	margin: 5px 1px 0 0;
	padding: 10px;
	text-transform: uppercase;
}
.vrc-customer-checkin a {
	color: #FFFFFF !important;
}
.vrcordactionlink {
	background: none repeat scroll 0 0 #02679A;
	border: 0 none;
	border-radius: 5px;
	color: #FFFFFF !important;
	display: inline-block;
	font-weight: bold;
	margin: 0 3px 0 0;
	padding: 4px;
}
#vrcpaymentlogdiv {
	display: none;
	border: 1px dashed #ccc;
	height: 250px;
	max-width: 500px;
	margin-top: 5px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
}
#vrcadminnotesdiv {
	border: 1px solid #ccc;
	border-radius: 5px;
	display: none;
	margin-top: 5px;
	max-width: 500px;
	min-height: 250px;
	overflow: auto;
	padding: 5px;
}
textarea.vrcadminnotestarea {
	border: 1px solid #eee;
	border-radius: 5px;
	height: 240px !important;
	padding: 3px;
	width: 490px !important;
}
.vrc-ebusy-lbl {
	border-bottom: 1px solid #ccc;
	display: block;
	font-size: larger;
	font-weight: bold;
	margin-left: 3px;
}
.vrc-ebusy-lbl button {
	margin-bottom: 2px;
}
.vrc-ebusy-addextracost {
	margin-left: 50px;
}
.vrc-ebusy-extracosts-table tr {
	border-bottom:1px solid #ddd;
	background: #eee;
}
.vrc-ebusy-extracosts-table td {
	padding: 10px !important; 
}
.vrc-ebusy-extracosts-table td input {
	margin-bottom: 0;
}
.vrc-ebusy-extracosts-cellrm {
	vertical-align: top;
}
.vrc-ebusy-extracosts-celltax select {
	margin: 0 !important;
}

.vrcsortasc {
	background:url('./resources/sortasc.png') right center no-repeat;
	padding: 0 14px 0 0;
}
.vrcsortdesc {
	background:url('./resources/sortdesc.png') right center no-repeat;
	padding: 0 14px 0 0;
}
.vrc-par-right {
	text-align: right;
}
.vrc-par-right label {
	display: inline-block;
}
div.vrcorderpartot {
	background: none repeat scroll 0 0 #efefef;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: block;
	font-weight: bold;
	margin: 10px 5px;
	padding: 5px 10px;
	width: 300px;
}
.vrcapplydiscsp {
	float: right;
	cursor: pointer;
}
.vrcdiscenter {
	display: none;
	margin-top: 5px;
	font-weight: normal;
	padding:5px 0 0 0;
	border-top:1px solid #ccc;
}
.vrcdiscenter-entry {
	padding:3px 0;
}
.vrcdiscenter-label {
	font-weight:bold;
	display:inline-block;
	min-width:110px;
}
.vrcdiscenter-entrycentered {
	text-align: right;
}
.vrcdiscenter-entrycentered input {
	background:#348741;
	color:#fff;
	border-radius:4px;
}
.vrcordcarinfo {
	background:#f6f6f6;
	border-radius:5px;
	border:1px solid #ddd;
	padding:10px;
	margin:0 0 10px 0;
	max-width:305px;
}
.vrcorderinfoblock {
	background:#f6f6f6;
	border-radius:5px;
	border:1px solid #ddd;
	padding:10px;
	margin:0 0 10px 0;
}
.vrcorderiddata {
	margin: 10px 0 10px 0;
}
.vrc-features-btn {
	background: none repeat scroll 0 0 #0066CC;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-left: 20px;
	padding: 5px;
}
.vrc-features-btn-active {
	background: none repeat scroll 0 0 #ccc;
	color: #000;
}
.vrc-distfeatures-block {
	display: none;
	position: fixed;
	right: 0;
	bottom: 80px;
	min-width: 30%;
	max-width: 42%;
	min-height: 300px;
	max-height: 75%;
	overflow: auto;
}
.vrc-distfeatures-inner {
	display: block;
	margin: 5px;
	padding: 5px;
}
.vrc-distfeatures-cont {
	background: none repeat scroll 0 0 #fff;
	padding: 5px;
	z-index: 1000;
}
.vrc-cunit-features-cont {
	display: block;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
	clear: both;
}
.vrc-cunit-num {
	display: block;
	font-weight: bold;
}
.vrc-cunit-features {
	display: inline-block;
    width: 100%;
    margin: 5px 0 0;
}
.vrc-cunit-feature {
	float: left;
	display: inline-block;
	margin-right: 25px;
}
.vrc-cunit-feature input {
	float: left;
	margin: 0 5px 0 0;
}
.vrc-cunit-feature .vrc-feature-remove {
	float: left;
}
.vrc-feature-add {
	background: #666 url('resources/plus-btn.png') 4px 4px no-repeat;
    border-radius: 3px;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: bold;
    padding: 5px 8px 5px 30px;
    text-align: right;
    position: relative;
}
.vrc-feature-remove, .vrc-feature-damage-remove {
	display: inline-block;
	cursor: pointer;
	background:url("./resources/images/remove.png") no-repeat;
	width: 30px;
	height: 30px;
}
.vrc-feature-damage-remove {
	float: right;
}
.vrc-open-damages {
	background: none repeat scroll 0 0 #295c70;
    border: 1px solid #295c70;
    border-radius: 3px;
    clear: both;
    color: #fff;
    cursor: pointer;
    float: right;
    font-weight: bold;
    padding: 5px;
}
.vrc-feature-damage-block {
	display: none;
}
.vrc-feature-damage-imgcont {
	position: relative;
	padding: 5px;
	float: left;
	margin-right: 20px;
}
.vrc-feature-damage-imgcont img {
	cursor: crosshair;
}
.vrc-feature-damage-actions {
	padding: 5px;
	float: right;
	max-height: 770px;
	overflow: auto;
	width: 350px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px 0 0 0;
	text-align: center;
}
.vrc-feature-damage-circle {
	position: absolute;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background:url("./resources/damage_mark.png") no-repeat;
	left: 0;
	top: 0;
	margin: -15px 0 0 -15px;
	padding: 6px 0 0;
	color: #fff;
}
.vrc-feature-car-damage {
	display: block;
	padding: 3px;
	border-bottom: 1px dotted #ccc;
}
.vrc-feature-car-damage-count {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	background: none repeat scroll 0 0 #f00;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	text-align: center;
	float: left;
}
.vrc-feature-car-damage-details {
	display: block;
}
.vrc-feature-car-damage-detail {
	display: inline-block;
	font-weight: bold;
}
.vrc-feature-car-damage-cont {
	display: inline-block;
}
.vrc-feature-car-damage-cont textarea {
	width: 180px !important;
	height: 50px !important;
}
.vrc-no-damage {
	font-weight: bold;
	background: none repeat scroll 0 0 #ccc;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	padding: 5px 10px;
}
.vrcstopsales {
	display: block;
	margin: 20px 0 3px 0;
}
.vrcstopsales label {
	display: inline !important;
	border-bottom: 1px solid #ff0000;
}
/* Invoices */
.vrc-gen-invoice-block {
	background: #eeeeee;
	border: 1px solid #999;
	border-radius: 5px;
	left: 35%;
	padding: 10px;
	position: fixed;
	top: 30%;
	min-width: 400px;
	z-index: 1000;
}
.vrc-gen-invoice-close {
	background-image: url('./resources/images/remove.png');
	background-position: center left;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	float: right;
	margin: -15px -15px 0 0;
	cursor: pointer;
}
.vrc-gen-invoice-entry {
	display: block;
}
.vrc-gen-invoice-entry label {
	display: inline-block;
}
.vrc-gen-invoice-finalentry {
	display: block;
	text-align: center;
}
.vrc-invoice-download {
	display: inline-block;
	margin-left: 5px;
}
.vrc-invoice-download a {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('./resources/invoice_icon.png');
	background-position: center left;
	background-repeat: no-repeat;
	text-decoration: none !important;
}
.vrc-invoice-download a:hover {
	text-decoration: none !important;
}
#icalsynclinkinp {
	display: block;
	margin-top: 5px;
}

/* Config: Do not edit this */
.vrcflushsession {
	float: right;
	background: none repeat scroll 0 0 #22485d;
	border: 1px solid #003300;
	border-radius: 5px;
	color: #FFFFFF;
	display: inline-block;
	float: right;
	font-size: 11px;
	padding: 3px 8px;
	text-decoration: none;
}
.vrcflushsession:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.vrc-config-param-cell {
	background: none repeat scroll 0 0 #e9e9e9;
	border-right: 1px solid #ddd;
	text-align: right !important;
	vertical-align: middle !important;
}
.fieldset-left {
	float: left;
	margin-right: 20px;
}
/* Back-end Menu */
.vrc-menu-container {
	display: block;
}
.vrc-menu-right ul {
	list-style-type: none;
	margin: 0 2px 2px;
	padding: 2px 0 0;
}
.vrc-submenu-ul {
	margin: 0;
	display: none;
	position: absolute;
}
.vrc-menu-ul li {
	display: inline;
	float: left;
	text-align: left;
}
.vrc-submenu-ul {
	background: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	border: 1px solid rgba(0, 0, 0, 0.15);
	min-width: 180px;
	border-radius: 4px;
}
.vrc-submenu-ul li {
	display: block;
	float: none;
	width: 100%;
}
.vrc-submenu-ul li span {
	display: block;
	padding: 5px 2px;
}
.vrc-menu-parent-li > span {
	display: inline-block;
	background: #337ab7;
	border-color: #2e6da4;
	color:#ffffff;
	cursor: pointer;
	margin: 5px 4px;
	padding: 8px 27px 8px 16px;
	font-size:14px;
	font-weight: bold;
	border-radius: 4px;
	position: relative;
	min-width: 80px;
}
.vrc-menu-parent-li > span a {
	color: #fff !important;
}
.vrc-menu-parent-li > span a:hover {
	text-decoration: none !important;
}
.vrc-menu-parent-li > span:after {
	border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    color: #fff;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: 9px;
    top: 16px;
    vertical-align: middle;
    width: 0;
}
.vrc-menu-parent-li > span:hover, .vrc-menu-parent-li-active > span {
	background: #22485d;
}
.vrc-menu-parent-li span i {
	margin-left: -8px;
}
.vrc-submenu-ul li {
	margin: 0 0 4px;
}
.vrc-submenu-ul li span a {
	padding: 0 10px 0 10px;
}
.vrc-submenu-ul li span:hover,
.vrc-submenu-ul li span.vmenulinkactive {
	background: #eee;
}
.vrc-submenu-ul li span:hover a,
.vrc-submenu-ul li span.vmenulinkactive a {
	color:#666 !important;
	text-decoration: none;
}
.vrc-menu-left {
	float: left;
	display: inline-block;
	width: 200px;
}
.vrc-menu-right {
	float: left;
	display: inline-block;
}
/* END Back-end Menu */
.vrc-country-flag-left {
	float: left;
	margin: 0 5px 0 0;
}
/* Rates, Restrictions and Seasons Calendar - Begin */
.vrc-warning {
	margin: 10px 0px;
	padding: 12px;
	color: #9F6000;
	background-color: #FEEFB3;
}
.vrc-ratesoverview-carsel-block {
	float: left;
}
.vrc-ratesoverview-carsel-block label {
	display: block;
	font-weight: bold;
}
.vrc-ratesoverview-carsel-entry {
	display: inline-block;
	margin-right: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	min-height: 60px;
	padding: 4px 6px;
	vertical-align: top;
}
.vrc-ratesoverview-entryinline {
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
}
.vrc-ratesoverview-numnight {
	display: inline-block;
	padding: 2px 4px;
	margin-right: 27px;
	border-radius: 3px;
	background: none repeat scroll 0 0 #1a3867;
	color: #fff;
	position: relative;
}
.vrc-ratesoverview-numnight:after {
	background: #f00 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	content: "x";
	cursor: pointer;
	font-size: 12px;
	height: 16px;
	line-height: 14px;
	position: absolute;
	right: -20px;
	text-align: center;
	top: 0;
	width: 16px;
}
#vrc-addnumnight, #vrc-numnights, #vrc-numadults, #vrc-numchildren {
	font-size: 13px;
	width: 35px !important;
	margin: 0 0 0 5px;
	display: inline-block;
}
#vrc-addnumnight-act {
	cursor: pointer;
	display: inline-block;
	background: url("./resources/add.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.vrc-apply-los-btn {
	margin-left: 10px;
}
.vrc-ratesoverview-cardetails h3 {
	text-align: center;
}
.vrc-seasons-calendar-table {
	width: 100%;
}
tr.vrc-seasons-calendar-nightsrow td:first-child {
	width: 20%;
}
tr.vrc-seasons-calendar-nightsrow td:nth-child(n+2) {
	text-align: center;
}
tr.vrc-seasons-calendar-nightsrow td span {
	font-weight: bold;
	font-size: 15px;
}
tr.vrc-seasons-calendar-offseasonrow {
	border-bottom: 1px solid #eee;
}
tr.vrc-seasons-calendar-offseasonrow td {
	height: 40px;
}
tr.vrc-seasons-calendar-offseasonrow td:nth-child(n+2) {
	text-align: center;
}
tr.vrc-seasons-calendar-seasonrow {
	border-bottom: 1px solid #eee;
}
tr.vrc-seasons-calendar-seasonrow td {
	height: 40px;
}
tr.vrc-seasons-calendar-seasonrow td:nth-child(n+2) {
	text-align: center;
}
.vrc-seasons-calendar-offseasonname {
	font-style: italic;
	font-size: 15px;
}
.vrc-seasons-calendar-offseasoncosts {
	display: block;
}
.vrc-seasons-calendar-offseasoncost {
	display: block;
}
.vrc-seasons-calendar-pricename {
	display: inline-block;
	font-style: italic;
}
.vrc-seasons-calendar-pricecost {
	display: inline-block;
}
.vrc-seasons-calendar-seasondates {
	display: block;
}
.vrc-seasons-calendar-seasonchargedisc {
	display: block;
	float: right;
}
.vrc-seasons-calendar-slabel {
	border-radius: 0.25em;
	color: #fff;
	display: inline;
	font-size: 95%;
	font-weight: 700;
	line-height: 1;
	padding: 0.2em 0.6em 0.3em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}
.vrc-seasons-calendar-season-charge {
	background-color: #777;
}
.vrc-seasons-calendar-season-discount {
	background-color: #f0ad4e;
}
.vrc-seasons-calendar-operator {
	display: inline-block;
	margin-right: 3px;
	font-weight: bold;
	font-size: 105%;
}
.vrc-seasons-calendar-seasonfrom {
	display: inline-block;
}
.vrc-seasons-calendar-seasondates-separe {
	display: inline-block;
	margin: 0 3px 0 3px;
}
.vrc-seasons-calendar-seasonto {
	display: inline-block;
}
.vrc-seasons-calendar-seasonname {
	display: block;
	font-weight: bold;
}
.vrc-seasons-calendar-restrictions {
	display: block;
}
.vrc-seasons-calendar-restriction-minlos {
	display: inline-block;
	padding: 2px 3px 2px 3px;
	background: #ddd;
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
}
.vrc-seasons-calendar-restriction-minlos-badge {
	display: inline-block;
	min-width: 20px;
	min-height: 20px;
	background: #fff;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	padding: 4px;
	border-radius: 50%;
	text-align: center;
	margin-left: 2px;
}
.vrc-seasons-calendar-restriction-maxlos {
	display: inline-block;
	padding: 2px 3px 2px 3px;
	background: #ccc;
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
}
.vrc-seasons-calendar-restriction-maxlos-badge {
	display: inline-block;
	min-width: 20px;
	min-height: 20px;
	background: #fff;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	padding: 4px;
	border-radius: 50%;
	text-align: center;
	margin-left: 2px;
}
.vrc-seasons-calendar-restriction-wdays {
	display: block;
}
.vrc-seasons-calendar-restriction-wdays label {
	display: block;
	font-style: italic;
}
.vrc-seasons-calendar-restriction-wdays .vrc-seasons-calendar-restriction-wday {
	display: inline-block;
	padding: 2px 3px 2px 3px;
	margin-right: 4px;
	background: #1a3867;
	color: #fff;
	border-radius: 4px;
}
.vrc-calcrates-rateblock {
	display: block;
	padding: 4px 6px;
	margin: 1px 0;
	background: #ddd;
}
.vrc-calcrates-ratename {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	min-width: 150px;
	margin-right: 5px;
}
.vrc-calcrates-ratenet, .vrc-calcrates-ratetax, .vrc-calcrates-ratecitytax, .vrc-calcrates-ratefees {
	display: inline-block;
	min-width: 100px;
	margin-right: 15px;
}
.vrc-calcrates-ratenet span, .vrc-calcrates-ratetax span, .vrc-calcrates-ratecitytax span, .vrc-calcrates-ratefees span {
	display: inline-block;
	margin-right: 5px;
}
.vrc-calcrates-ratespaffdays, .vrc-calcrates-rateoccupancydisc, .vrc-calcrates-rateoccupancycharge {
	display: inline-block;
	min-width: 100px;
	margin: 0 15px 0 5px;
}
.vrc-calcrates-ratespaffdays span, .vrc-calcrates-rateoccupancydisc span, .vrc-calcrates-rateoccupancycharge span {
	display: inline-block;
	font-style: italic;
	margin-right: 5px;
}
.vrc-calcrates-ratetotal {
	display: inline-block;
	font-weight: bold;
	margin-right: 15px;
}
.vrc-calcrates-ratetotal span {
	display: inline-block;
	margin-right: 5px;
}
/* Rates, Restrictions and Seasons Calendar - End */
/* Timeline Rates Overview - Start */
.vrc-timeline-container {
	display: block;
	width: 100%;
	margin: auto;
	overflow: auto;
}
#vrc-timeline {
	list-style: none;
	margin: 70px 0 0;
	padding: 0;
	border-top: 8px solid #337ab7;
	display: table;
	border-spacing: 30px 0;
	text-align: center;
}
#vrc-timeline li {
	display: table-cell;
}
#vrc-timeline li .vrc-timeline-relative {
	position: relative;
}
#vrc-timeline p {
	margin: 0;
}
.vrc-timeline-date {
	text-align: center;
	top: -45px;
	left: 0;
	right: 0;
	font-size: 0.95em;
	line-height: 25px;
	position: absolute;
	font-weight: bold;
}
.vrc-timeline-circle {
	margin: 0 auto;
	top: -14px;
	left: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: #48b379;
	border: 5px solid #337ab7;
	border-radius: 50%;
	display: block;
	position: absolute;
	cursor: pointer;
}
.vrc-timeline-content {
	border-color: #eee;
	width: 180px;
	max-height: 0;
	margin-top: 25px;
	vertical-align: top;
	padding: 35px 15px 15px;
	transition: width 0.4s linear, max-height 0.4s linear;
	border-width: 2px;
	border-style: solid;
	border-radius: 0.5em;
	position: relative;
}
.vrc-timeline-content:before, .vrc-timeline-content:after {
	content: "";
	width: 0;
	height: 0;
	border: solid transparent;
	position: absolute;
	pointer-events: none;
	bottom: 100%;
}
.vrc-timeline-content:before {
	border-bottom-color: inherit;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}
.vrc-timeline-content:after {
	border-bottom-color: #fff;
	border-width: 12px;
	left: 50%;
	margin-left: -12px;
}
.vrc-timeline-content p {
	max-height: 0;
	color: transparent;
	text-align: center;
	/* text-align: justify; */
	word-break: break-word;
	-moz-hyphens: auto;
	overflow: hidden;
}
label.vrc-timeline-label {
	font-size: 1.2em;
	position: absolute;
	z-index: 100;
	cursor: pointer;
	width: 180px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	top: 35px;
	left: 15px;
}
.vrc-timeline-radio {
	display: none;
}
.vrc-timeline-radio:checked + .vrc-timeline-relative label {
	cursor: auto;
	width: 300px;
	transition: width 0.3s linear 0.2s;
	-webkit-transition: width 0.3s linear 0.2s;
}
.vrc-timeline-radio:checked + .vrc-timeline-relative .vrc-timeline-circle {
	background: #fff;
}
.vrc-timeline-radio:checked ~ .vrc-timeline-content {
	max-height: 180px;
	border-color: #337ab7;
	width: 300px;
}
.vrc-timeline-radio:checked ~ .vrc-timeline-content p {
	max-height: 180px;
	min-height: 35px;
	color: #333;
	transition: color 0.3s linear 0.3s;
	-webkit-transition: color 0.3s linear 0.3s;
}
.vrc-timeline-content span.vrc-seasons-calendar-slabel {
	max-height: 0;
	max-width: 0;
	color: transparent;
	word-break: break-word;
	-moz-hyphens: auto;
	overflow: hidden;
}
.vrc-timeline-radio:checked ~ .vrc-timeline-content span.vrc-seasons-calendar-slabel {
	max-height: 180px;
	min-height: 35px;
	color: #fff;
	transition: color 0.3s linear 0.3s;
	-webkit-transition: color 0.3s linear 0.3s;
}
.vrc-timeline-radio:checked ~ .vrc-timeline-content span.vrc-seasons-calendar-season-discount {
	background-color: #f0ad4e;
}
.vrc-timeline-radio:checked ~ .vrc-timeline-content span.vrc-seasons-calendar-season-charge {
	background-color: #777;
}
/* Timeline Rates Overview - End */
/* Translations - Start */
.vrc-translation-langtabs {
	display: block;
	margin: 0;
	padding: 0;
}
.vrc-translation-tab {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	font-weight: bold;
	min-width: 120px;
	height: 25px;
	text-align: center;
	background: none repeat scroll 0 0 #eee;
	color: #666;
	border: 1px solid #ddd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
	margin: 0;
	padding: 4px;
}
.vrc-translation-tab-default {
	background: none repeat scroll 0 0 #fff;
}
.vrc-translation-tabscontents {
	display: block;
	margin: 0;
	padding: 4px;
	border: 1px solid #ddd;
	min-height: 200px;
}
.vrc-translate-column-cell {
	background: none repeat scroll 0 0 #e9e9e9;
	border-right: 1px solid #ddd;
	text-align: right !important;
	vertical-align: middle !important;
}
.vrc-translate-reference-cell {
	background: none repeat scroll 0 0 #e9e9e9;
	text-align: left !important;
	font-size: 105%;
	font-weight: bold;
}
.vrc-missing-translation,.vrc-field-translated {
	position: relative;
}
.vrc-missing-translation:before {
	background: none repeat scroll 0 0 #FEEFB3;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #9F6000;
	content: "!";
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	left: 2px;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 18px;
}
.vrc-field-translated:before {
	background: none repeat scroll 0 0 #DFF2BF;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #4F8A10;
	content: "\2713";
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	left: 2px;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 18px;
}
.vrc-translation-tab.vrc-translation-tab-ini {
	float: right;
}
.vrc-translation-iniflag {
	display: inline-block;
	padding: 1px 4px;
	background: none repeat scroll 0 0 #365868;
	color: #fff;
}
.vrc-inifile-totrows {
	display: inline-block;
	margin-right: 8px;
	padding: 2px 4px;
	border: 1px solid #fff;
	border-radius: 5px;
	text-align: center;
}
.vrc-inifile-path {
	display: inline-block;
	margin-right: 8px;
	padding: 2px 4px;
	border: 1px solid #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 90%;
}
.vrc-inifile-exists {
	background: none repeat scroll 0 0 #DFF2BF;
	color: #4F8A10;
}
.vrc-inifile-notfound {
	background: none repeat scroll 0 0 #FEEFB3;
	color: #9F6000;
}
/* Translations - End */
/* Dashboard - Start */
.vrc-dashboard-today-bookings {
	width: 100%;
	display: inline-block;
	margin-top: 15px;
}
.vrc-dashboard-today-pickup-wrapper, .vrc-dashboard-today-dropoff-wrapper  {
	width: 48%;
	float: left;
	display: inline-block;
	border:2px solid #ddd;
}
.vrc-dashboard-today-pickup-wrapper {
	margin: 0 20px 0 0;
}
.vrc-dashboard-today-pickup-wrapper h4 {
	font-size: 22px;
	font-weight: normal;
	color: #22485d;
	text-transform: uppercase;
	text-align: right;
	padding: 10px 0 10px 65px;
	position: relative;
	display: inline-block;
}
.vrc-dashboard-today-dropoff-wrapper h4 {
	font-size: 22px;
	font-weight: normal;
	color: #22485d;
	text-transform: uppercase;
	text-align: right;
	padding: 10px 25px 10px 0;
	position: relative;
	display: inline-block;
	float: right;
}
.vrc-dashboard-today-pickup-wrapper h4:before {
	content: "";
    height: 45pc;
    left: 15px;
    top: 0;
    width: 45px;
	background: url(resources/pickup-icon.png) left top no-repeat;
	position: absolute;
}
.vrc-dashboard-today-dropoff-wrapper h4:before {
	width: 45px;
	height: 34px;
	content: "";
	left: -55px;
	top: 0;
	background: url(resources/dropoff-icon.png) left top no-repeat;
	position: absolute;
}
.vrc-dashboard-today-pickup, 
.vrc-dashboard-today-dropoff {
	display: inline-block;
	width: 100%;
	max-height: 300px;
	overflow-y:scroll;
}
.vrc-dashboard-today-pickup table tr:first-child td, 
.vrc-dashboard-today-dropoff table tr:first-child td,
.vrc-dashboard-next-bookings table tr:first-child td,
.vrc-dashboard-cars-locked table tr:first-child td {
	background: #F6F6F6;
	color: #22485d;
	font-weight: bold;
	padding: 15px 8px;
}
.vrc-dashboard-charts {
	width: 100%;
	display: inline-block;
}
.vrc-dashboard-charts {
	margin: 20px 0;
	padding: 15px 0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.vrc-dashboard-charts h4 {
	font-size: 22px;
	font-weight: normal;
	color: #22485d;
	text-transform: uppercase;
	padding: 0px 25px 10px 0;
	position: relative;
	text-align: center;
}
.vrc-dashboard-charts-wrapper {
	margin: 0 auto;
	display: table;
}
.vrc-dashboard-chart-container {
	background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
    margin: 8px 8px;
    padding: 0;
}
.vrc-dashboard-chart-container .vrc-dashboard-chart-date {
	color: #22485d;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background: #fff;
    padding: 8px 0;
    border-bottom:1px solid #ddd;
}
.vrc-dashboard-chart-container .donutChart {
	display: block;
    margin: 0 auto;
    padding: 0 10px;
}
.vrc-dashboard-next-bookings-block {
	display: inline-block;
	width: 100%;
}
.vrc-dashboard-next-bookings {
	border:2px solid #ddd;
}
.vrc-dashboard-next-bookings h4 {
	font-size: 22px;
	font-weight: normal;
	color: #22485d;
	text-transform: uppercase;
	padding: 10px 0 10px 65px;
	position: relative;
	display: inline-block;
}
.vrc-dashboard-next-bookings h4:before {
	width: 45px;
	height: 45pc;
	content: "";
	left: 15px;
	top: 0;
	background: url(resources/upcoming-bookings.png) left top no-repeat;
	position: absolute;
}
.vrc-dashboard-refresh-container {
	display: table;
	margin: 10px auto 0;
}
.vrc-dashboard-refresh-container > span {
	display: inline-block;
	float: left;
	margin: 0 2px;
}
.vrc-dashboard-refresh-container .vrc-dashboard-refresh-head {
	font-size: 22px;
	font-weight: normal;
	color: #22485d;
	text-transform: uppercase;
	padding: 7px 13px 10px 0;
	position: relative;
	text-align: center;
	float: left;
	display: inline-block;
}
.vrc-dashboard-refresh-container .vrc-dashboard-refresh-head .vrc-dashboard-refresh-label {
	display: inline-block;
	float: left;
	margin:0 8px 0 0;
}
.vrc-dashboard-refresh-play {
	color: #fff;
	text-align: center;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.vrc-dashboard-refresh-play:after {
	content: "\25b6";
	display: inline-block;
	border-radius: 50%;
	background: #22485d;
	height: 30px;
    line-height: 30px;
    padding: 0;
    width: 30px;
	font-size: 15px;
}
.vrc-dashboard-refresh-stop {
	color: #fff;
	text-align: center;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.vrc-dashboard-refresh-stop:after {
	content: "\25A0";
	display: inline-block;
	border-radius: 50%;
	background: #22485d;
	width: 30px;
	height: 30px;
	line-height: 25px;
	font-size: 20px;
	padding: 0;
}
.vrc-dashboard-cars-locked-block {
	display: inline-block;
	width: 100%;
	margin: 20px 0 0;
}
.vrc-dashboard-cars-locked {
	border:2px solid #ddd;
}
.vrc-dashboard-cars-locked h4 {
	font-size: 22px;
	font-weight: normal;
	color: #22485d;
	text-transform: uppercase;
	padding: 10px 0 10px 65px;
	position: relative;
	cursor: pointer;
	display: inline-block;
}
.vrc-dashboard-cars-locked h4:before {
	width: 45px;
	height: 45pc;
	content: "";
	left: 15px;
	top: 0;
	background: url(resources/locked-icon.png) left top no-repeat;
	position: absolute;
}
.vrc-dashboard-cars-locked h4 span {
	display: inline-block;
	margin: 0 0 0 5px;
	color: #FF9326;
}
/* Dashboard - End */
/* Graphs & Statistics - Start */
.vrc-graphstats-left {
	display: inline-block;
	width: 66%;
	vertical-align: top;
	float: left;
}
.vrc-graphstats-right {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	float: right;
}
.vrc-graphstats-secondright {
	display: inline-block;
	margin-top: 15px;
	width: 32%;
	vertical-align: top;
	float: right;
}
.vrc-graphstats-thirdright {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
	float: right;
	background: #f6f6f6;
}
.vrc-graphstats-thirdright > p {
	font-weight: bold;
	padding: 0 0 0 10px;
}
.vrc-graphstats-thirdright > p:first-child {
	padding-top: 10px;
}
.vrc-graphstats-thirdright p span {
	display: inline-block;
	min-width: 155px;
}
.vrc-graphstats-secondright h4 {
	text-align: center;
}
.vrc-graphstats-countries {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
}
.vrc-graphstats-country-wrap {
	display: block;
	margin: 2px 0;
}
.vrc-graphstats-country-img {
	display: inline-block;
	margin-right: 5px;
}
.vrc-graphstats-country-name {
	display: inline-block;
	font-weight: bold;
	min-width: 120px;
	margin-right: 5px;
}
.vrc-graphstats-country-totb {
	display: inline-block;
}
#vrc-graphstats-left-legend, #vrc-graphstats-left-legend-nights {
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}
#vrc-graphstats-left-legend ul.line-legend, #vrc-graphstats-left-legend-nights ul.line-legend {
	display: inline-block;
	text-align: center;
	margin: 10px 0 0;
	padding: 0;
	width: 100%;
}
#vrc-graphstats-left-legend ul.line-legend li, #vrc-graphstats-left-legend-nights ul.line-legend li {
	display: inline-block;
	margin: 3px 7px;
}
#vrc-graphstats-left-legend ul.line-legend li > span.entry, #vrc-graphstats-left-legend-nights ul.line-legend li > span.entry {
	display: inline-block;
	float: left;
	height: 15px;
	margin: 0 5px 0 0;
	width: 15px;
}
#vrc-graphstats-right-legend, #vrc-graphstats-right-legend-nights {
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}
#vrc-graphstats-right-legend ul.pie-legend, #vrc-graphstats-right-legend-nights ul.pie-legend {
	display: inline-block;
	text-align: center;
	margin: 10px 0 0;
	padding: 0;
	width: 100%;
}
#vrc-graphstats-right-legend ul.pie-legend li, #vrc-graphstats-right-legend-nights ul.pie-legend li {
	display: inline-block;
	margin: 3px 7px;
}
#vrc-graphstats-right-legend ul.pie-legend li > span.entry, #vrc-graphstats-right-legend-nights ul.pie-legend li > span.entry {
	display: inline-block;
	float: left;
	height: 15px;
	margin: 0 5px 0 0;
	width: 15px;
}
.vrc-graphstats-legend-sub {
	display: inline-block;
	font-size: smaller;
	margin-left: 3px;
}
.vrc-graph-introtitle {
	display: block;
	clear: both;
	margin-bottom: 5px;
	text-align: center;
}
.vrc-graph-introtitle span {
	font-size: 18px;
	color: #333;
}
.vrc-graphstats-thirdright-nights-bestworst {
	clear: both;
}
.vrc-graphstats-thirdright-nights-bestworst > span {
	font-weight: bold;
}
span.vrc-graphstats-nights-best {
	float: left;
}
span.vrc-graphstats-nights-worst {
	float: right;
}
/* Graphs & Statistics - End */

/* VikUpdater - Start */
.vik-box-error {
	padding: 15px 10px;
	border: 2px dashed #900;
	color: #900;
	font-weight: bolder;
}
.vik-update-changelog {
	padding: 0 10px;
	border: 2px dashed #999;
}
.vik-update-changelog h2 {
	margin-bottom: 25px;
}
.vik-update-changelog ul li strong {
	display: inline-block;
	width: 220px;
}
.vik-update-changelog div.box-separator {
	border-top: 1px solid #bbb;
	margin: 20px 0;
}
/* VikUpdater - End */

/* Joomla 3.x */
.vrc-stopsales-sp {
	border: 1px solid #ff0000;
}
.vrcoverviewtablerow td {
	border: 1px solid #ffffff;
}
td.carname {
	padding: 0 0 0 10px;
}
.vrcoverviewtdone {
	padding: 0 0 0 10px;
}
.vrc-path-tmpl-file {
	font-style: italic;
}
/* Joomla 3.x */
.vikpaymentparam {
	display: block;
	padding: 2px;
}
.vikpaymentparamlabel {
	display: inline-block;
	min-width: 130px;
}
.vikpaymentparaminput {
	display: inline-block !important;
}
.vikpaymentparamlabelhelp {
	font-size: smaller;
	font-style: italic;
	padding-left: 5px;
}
.icon-vikrentcar:before {
	content: "4";
}
.icon-vikrentcarconfig:before {
	content: "7";
}
input, textarea, select {
    width: auto !important;
}
table.adminform label {
	display: inline;
	margin:0 0 0 5px;
}
table.adminform td {
	padding: 6px 0;
}
table.adminform div.input-append {
	display: inline;
}
div.current {
    border: 1px solid #CCCCCC;
    clear: both;
    padding: 10px;
}
dl.tabs {
    float: left;
    margin: 10px 0 -1px;
    z-index: 50;
}
dl.tabs dt.open {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #cccccc;
    color: #000000;
    z-index: 100;
}
#adminForm .panel_1_id {
	margin-left: 0;
	margin-bottom: 0;
}
dl.tabs dt {
    background: none repeat scroll 0 0 #E9E9E9;
    border: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    margin-left: 3px;
    padding: 4px 10px;
}
dt.tabs span h3 {
    font-size: 13px;
}
/* Joomla 3.7.0 - Start */
.field-calendar {
	display: inline-block;
	vertical-align: top;
}
.btn-group .calendar-head-row {
	font-size: 13px;
}
/* Joomla 3.7.0 - End */